@import '../../style/config.scss';

.todo-menu-item {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: map-get($color-palette, todo-menu-item);
    border: 2px solid map-get($color-palette, todo-menu-item-border);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media screen and(max-width: '480px'){
        font-size: 10px; 
     }
    
    &--active {
        background-color: map-get($color-palette, todo-menu-item-active);
        border: none;
    }

    &:not(:last-child) {
        margin-right: 30px;

        @media screen and (max-width: '480px'){
            margin-right: 6px; 
         }
    }

    @media screen and(max-width: '900px'){
       flex-grow: 1; 
    }

    @media screen and (max-width: '480px'){
        width: 95px;
     }
    
}