@import '../../style/config.scss';

.todo-menu-item {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: map-get($color-palette, todo-menu-item);
    border: 2px solid map-get($color-palette, todo-menu-item-border);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    &--active {
        background-color: map-get($color-palette, todo-menu-item-active);
        border: none;
    }

    &:not(:last-child) {
        margin-right: 30px;
    }
}