@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

$color-palette: (
    background-yellow: #F5DF4E,
    background-grey: #F0F0F0,
    user-box-background: #F0F0F0,
    user-box-backgorund-active: #89ACD2,
    user-box-text-active: #F5DF4E,
    todo-item-background: #E7E7E7,
    checkbox-border: #949398,
    todo-menu-item-active: #F5DF4E,
    todo-menu-item: #F0F0F0,
    todo-menu-item-border: #C7C8CA,
    text-color: #3B3B3B,
);

$line-height-styles: (
    sm: 24px,
    smd: 27.66px,
    lg: 39.84px,
);

$font-sizes: (
    sm: 16px,
    smd: 18px,
    lg: 34px,
);

$font-family: 'Roboto', sans-serif;

$row-max-width: 1280px;
$row-min-width: 1024px;




